#n1{
  font-family:"Calibri";
  font-size:25px;
  font-weight:600;
  color:#B6E5FC;
}
#nav1{
  background-color:#00072D;
  height:60px;
}
#n2,#n3,#n4,#n5{
  font-size:18.5px;
  font-weight:600;
  color:#B6E5FC;
  font-family:Calibri;
}
#head1{
  padding-top:80px;
  height:300px;
  font-weight:650px;
  font-style:italic;
  font-family:Calibri;
  color:#232B2B;
  background-color:#ADD8E6;
}
#c1{
  filter:brightness(40%);
  width:480px;
  height:310px;
}
#c2{
  padding-top:25px;
  padding-bottom:10px;
  margin-left:20px;
  font-family:Calibri;
  font-style:italic;
  color:#00072D;
}
#im{
  width:30%;
}
#m1{
  display:inline-block;
}
#f1{
  padding-top : 30px;
  background-color:#00072D;
}
.in1{
  width:140%;
  border-radius:5px;
}
.lab{
  font-family:Calibri;
  font-size:20px;
  color:white;
}
#msg{
  color:white;
  font-style:italic;
}
#ta{
  width:146%;
  border-radius:5px;
}
.lab2{
  font-weight: 600;
  font-size:22px;
  color:#232B2B;
  font-style:italic;
}
.lab3{
  font-size:20px;
  font-weight:400;
  color:#00072D;
  font-style:italic;
}
#con{
  padding-left:30px;
  padding-top:30px;
  padding-bottom:30px;
  font-family:Calibri;
  background-color: #91BAD6;
}
.ib{
  display:inline-flex;
}
#abt{
  font-weight:600;
  font-family:Calibri;
  padding-left:30px;
  background-color:#91BAD6;
  color:#00072D;
  font-style:italic;
}
#sel{
  font-weight:800;
  font-family:Calibri;
  font-style:italic;
  color:#00072D;
}

#pro1{
  text-align:left;
  background-color:#D1E5F4;
  color:#00072D;
  padding-bottom:20px;
  padding-top:20px;
  padding-left:10px;
}
#pro2{

  background-color:#BDD5E7;
  text-align:left;
  color:#00072D;
  padding-bottom:20px;
  padding-top:20px;
  padding-left:10px;
}
#pro3{
  background-color:#AECCE4;
  text-align:left;
  color:#00072D;
  padding-bottom:20px;
  padding-top:20px;
  padding-left:10px;
}
#pro4{
  background-color:#9ABDDC;
  text-align:left;
  color:#00072D;
  padding-bottom:20px;
  padding-top:20px;
  padding-left:10px;
}
.p2{
  font-weight: 600;
  font-size:25px;
  font-family: Calibri;
  font-style:italic;
}
.p3{
  font-size:23px;
  font-weight:400;
  font-family:Calibri;
  font-style:italic;
}
#ph{
  font-weight:800;
  font-family:Calibri;
  font-style:italic;
  padding-left:10px;
  color:#00072D;
}
#cd{
  font-weight:800;
  font-family:Calibri;
  font-style:italic;
  color:#232B2B;
}
#sub{
  font-family:Calibri;
  font-style:italic;
  padding-left:10px;
  color:#00072D;
}
#al1{
  color:#00072D;
}
#al2{
  color:#00072D;
}
